@charset "UTF-8";

/* 
    Paleta de cores:
    Verde: #49a09d
    Lilás: #5F2C82*/

:root {
    --corverde:var(#49a09d);
    --corlilas:var(#5f2c82);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #49a09d,#5f2c82);
}

html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden; /*Tudo que estiver fora da borda ficará escondido*/
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
    transition: width 0,5s;
    transition: height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background-color: #5f2c82;
    background-image: url(../imagens/metal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.8em;
}

form > div#login {
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 20px 0px;
    margin: 5px 0px;
}

div#login > label {
    display: none;
}
div#login > input {
    background-color: #8fece9;
    font-size: 1em;
    width: calc(100% - 45px);
    transform: translateY(-11px);
    height: 100%;
    border-radius: 20px 0px;
    padding: 4px;
}

div#login > input:focus-within {
    background-color: white; 
} /*Quando clicado, o fundo ficará branco*/

div#senha > input {
    background-color: #8fece9;
    font-size: 1em;
    width: calc(100% - 45px);
    transform: translateY(-11px);
    height: 100%;
    border-radius: 20px 0px;
    padding: 4px;
}
div#senha > input:focus-within {
    background-color: white;
} /*Quando clicado, o fundo ficará branco*/

div#login > span {
    /*background-color: black;*/
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div#login {
    border: 1px solid #5f2c82;
}

div#senha > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div#senha {
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 20px 0px;
    margin: 5px 0px;
}
div#senha {
    border: 1px solid #5f2c82;
}

div#senha > label {
    display: none;
}

div#entrar > input {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    font-variant: small-caps;
    border: none;
}

div#entrar > input:hover {
    background-color: #316b69;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1em;
    height: 40px;
    margin-top: 10px;
    background-color: #65d8d4;
    text-decoration: none;
    color: white;
}
